/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    overflow: hidden;

    margin-top:-8.6rem; /* lol */
}

.hero-bg-image {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.hero-content {
    z-index: 2;
    position: relative;
    color: #fff;
    /* background: rgba(255, 255, 255, 0.1); */
    /* -webkit-backdrop-filter: blur(8px); */
    /* backdrop-filter: blur(8px); */
    /* border-radius: 20px; */
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    padding: 8rem;
    width: 80%;
}

.hero-title {
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 1rem;
    letter-spacing: -2px;

}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 4px;
    opacity: 0.9;

}


.scroll-indicator {
    position: absolute;
    bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    gap: 1rem;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: 500;
    z-index: 2;
}

.scroll-line {
    width: 2px;
    height: 60px;
    background: linear-gradient(to bottom, #fff, transparent);
    animation: scroll-bounce 2s infinite;
}

@keyframes scroll-bounce {
    0%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(10px);
        opacity: 0.5;
    }
}
@media (max-width: 768px) {
    .hero-title {
        font-size: 4rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }
    .hero-content {
        padding: 4rem;
        width: 90%;
    }
}